## Importing necessary modules

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
from datetime import datetime

## Opening files and creating dataframes

In [ ]:
file1 =

In [4]:
df = pd.read_table('248S.TXT',sep=r'\s+',header=1,names=['Invoice','Customer#','Invoice_Date','Quantity','UOM','List_Price','NET_Price','Total','COGS','Margin'],engine='python')

In [5]:
df2 = pd.read_table('2410S.TXT',sep=r'\s+',header=1,names=['Invoice','Customer#','Invoice_Date','Quantity','UOM','List_Price','NET_Price','Total','COGS','Margin'],engine='python')

In [6]:
df3 = pd.read_table('2412S.TXT',sep=r'\s+',header=1,names=['Invoice','Customer#','Invoice_Date','Quantity','UOM','List_Price','NET_Price','Total','COGS','Margin'],engine='python')

In [7]:
df4 = pd.read_table('2416S.TXT',sep=r'\s+',header=1,names=['Invoice','Customer#','Invoice_Date','Quantity','UOM','List_Price','NET_Price','Total','COGS','Margin'],engine='python')

## Creating a test dataframe

In [8]:
dftest = df

In [9]:
dftest2 = df2

In [10]:
dftest3 = df3

In [11]:
dftest4 = df4

## Checking the file

In [ ]:
dftest3.info()

In [ ]:
dftest2.iloc[130:180]

## Droping columns without actual information on file 1

In [12]:
dftest.drop(dftest[(dftest['Customer#'] == 'Totals:')].index,inplace=True)

In [13]:
dftest.drop(dftest[(dftest['Customer#'] == '──────────────')].index,inplace=True)

In [14]:
dftest.drop(dftest[(dftest['Quantity'] == 'TOTALS:')].index,inplace=True)

In [15]:
dftest.drop(dftest[(dftest['Customer#'] == '(AUDITSAL')].index,inplace=True)

## Droping columns without actual information on file 2

In [16]:
dftest2.drop(dftest2[(dftest2['Customer#'] == 'Totals:')].index,inplace=True)

In [17]:
dftest2.drop(dftest2[(dftest2['Customer#'] == '──────────────')].index,inplace=True)

In [18]:
dftest2.drop(dftest2[(dftest2['Quantity'] == 'TOTALS:')].index,inplace=True)

In [19]:
dftest2.drop(dftest2[(dftest2['Customer#'] == '(AUDITSAL')].index,inplace=True)

## Droping columns without actual information on file 3

In [20]:
dftest3.drop(dftest3[(dftest3['Customer#'] == 'Totals:')].index,inplace=True)

In [21]:
dftest3.drop(dftest3[(dftest3['Customer#'] == '──────────────')].index,inplace=True)

In [22]:
dftest3.drop(dftest3[(dftest3['Quantity'] == 'TOTALS:')].index,inplace=True)

In [23]:
dftest3.drop(dftest3[(dftest3['Customer#'] == '(AUDITSAL')].index,inplace=True)

## Droping columns without actual information on file 4

In [24]:
dftest4.drop(dftest4[(dftest4['Customer#'] == 'Totals:')].index,inplace=True)

In [25]:
dftest4.drop(dftest4[(dftest4['Customer#'] == '──────────────')].index,inplace=True)

In [26]:
dftest4.drop(dftest4[(dftest4['Quantity'] == 'TOTALS:')].index,inplace=True)

In [27]:
dftest4.drop(dftest4[(dftest4['Customer#'] == '(AUDITSAL')].index,inplace=True)

## Removing ',' to later transform into int/float on file 1

In [28]:
dftest['List_Price'] = dftest['List_Price'].str.replace(',', '')

In [29]:
dftest['COGS'] = dftest['COGS'].str.replace(',', '')

In [30]:
dftest['NET_Price'] = dftest['NET_Price'].str.replace(',', '')

In [31]:
dftest['Total'] = dftest['Total'].str.replace(',', '')

## Removing ',' to later transform into int/float on file 2

In [32]:
dftest2['List_Price'] = dftest2['List_Price'].str.replace(',', '')

In [35]:
dftest2['NET_Price'] = dftest2['NET_Price'].str.replace(',', '')

In [36]:
dftest2['Total'] = dftest2['Total'].str.replace(',', '')

## Removing ',' to later transform into int/float on file 3

In [37]:
dftest3['List_Price'] = dftest3['List_Price'].str.replace(',', '')

In [38]:
dftest3['NET_Price'] = dftest3['NET_Price'].str.replace(',', '')

In [39]:
dftest3['Total'] = dftest3['Total'].str.replace(',', '')

## Removing ',' to later transform into int/float on file 4

In [40]:
dftest4['List_Price'] = dftest4['List_Price'].str.replace(',', '')

In [41]:
dftest4['NET_Price'] = dftest4['NET_Price'].str.replace(',', '')

In [42]:
dftest4['Total'] = dftest4['Total'].str.replace(',', '')

## Changing data types on file 1

In [43]:
dftest['Invoice_Date'] = pd.to_datetime(dftest['Invoice_Date'])

In [44]:
dftest['Quantity'] = pd.to_numeric(dftest['Quantity'])

In [45]:
dftest['Total'] = pd.to_numeric(dftest['Total'])

In [46]:
dftest['List_Price'] = pd.to_numeric(dftest['List_Price'])

In [47]:
dftest['COGS'] = pd.to_numeric(dftest['COGS'])

In [48]:
dftest['NET_Price'] = pd.to_numeric(dftest['NET_Price'])

## Changing data types on file 2

In [49]:
dftest2['Invoice_Date'] = pd.to_datetime(dftest2['Invoice_Date'])

In [50]:
dftest2['Quantity'] = pd.to_numeric(dftest2['Quantity'])

In [51]:
dftest2['Total'] = pd.to_numeric(dftest2['Total'])

In [52]:
dftest2['List_Price'] = pd.to_numeric(dftest2['List_Price'])

In [53]:
dftest2['NET_Price'] = pd.to_numeric(dftest2['NET_Price'])

## Changing data types on file 3

In [54]:
dftest3['Invoice_Date'] = pd.to_datetime(dftest3['Invoice_Date'])

In [55]:
dftest3['Quantity'] = pd.to_numeric(dftest3['Quantity'])

In [56]:
dftest3['Total'] = pd.to_numeric(dftest3['Total'])

In [57]:
dftest3['List_Price'] = pd.to_numeric(dftest3['List_Price'])

In [58]:
dftest3['NET_Price'] = pd.to_numeric(dftest3['NET_Price'])

## Changing data types on file 4

In [59]:
dftest4['Invoice_Date'] = pd.to_datetime(dftest4['Invoice_Date'])

In [60]:
dftest4['Quantity'] = pd.to_numeric(dftest4['Quantity'])

In [61]:
dftest4['Total'] = pd.to_numeric(dftest4['Total'])

In [62]:
dftest4['List_Price'] = pd.to_numeric(dftest4['List_Price'])

In [63]:
dftest4['NET_Price'] = pd.to_numeric(dftest4['NET_Price'])

## Checkin data types

In [67]:
dftest4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97 entries, 0 to 118
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Invoice       97 non-null     object
 1   Customer#     97 non-null     object
 2   Invoice_Date  97 non-null     datetime64[ns]
 3   Quantity      97 non-null     float64
 4   UOM           97 non-null     object
 5   List_Price    97 non-null     float64
 6   NET_Price     97 non-null     float64
 7   Total         97 non-null     float64
 8   COGS          97 non-null     float64
 9   Margin        97 non-null     float64
dtypes: datetime64[ns](1), float64(6), object(3)
memory usage: 8.3+ KB

In [ ]:
dftest.dtypes

## Renaming Columns on file 1

In [68]:
dftest.rename(mapper={'UOM':'SKU'},axis=1,inplace=True)

In [69]:
dftest['SKU'] = dftest['SKU'].str.replace('PIECE', '248S')

In [70]:
dftest['List_Price'] = dftest['Total'] / dftest['Quantity']

## Renaming Columns on file 2

In [71]:
dftest2.rename(mapper={'UOM':'SKU'},axis=1,inplace=True)

In [72]:
dftest2['SKU'] = dftest2['SKU'].str.replace('PIECE', '2410S')

In [73]:
dftest2['List_Price'] = dftest2['Total'] / dftest2['Quantity']

## Renaming Columns on file 3

In [74]:
dftest3.rename(mapper={'UOM':'SKU'},axis=1,inplace=True)

In [75]:
dftest3['SKU'] = dftest3['SKU'].str.replace('PIECE', '2412S')

In [76]:
dftest3['List_Price'] = dftest3['Total'] / dftest3['Quantity']

## Renaming Columns on file 4

In [77]:
dftest4.rename(mapper={'UOM':'SKU'},axis=1,inplace=True)

In [78]:
dftest4['SKU'] = dftest4['SKU'].str.replace('PIECE', '2416S')

In [79]:
dftest4['List_Price'] = dftest4['Total'] / dftest4['Quantity']

## Merging all files

In [80]:
dfcons = pd.concat([dftest,dftest2,dftest3,dftest4])

In [87]:
dfcons.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2312 entries, 0 to 118
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Invoice       2312 non-null   object
 1   Customer#     2312 non-null   object
 2   Invoice_Date  2312 non-null   datetime64[ns]
 3   Quantity      2312 non-null   float64
 4   SKU           2312 non-null   object
 5   List_Price    2312 non-null   float64
 6   NET_Price     2312 non-null   float64
 7   Total         2312 non-null   float64
 8   COGS          2312 non-null   float64
 9   Margin        2312 non-null   float64
dtypes: datetime64[ns](1), float64(6), object(3)
memory usage: 198.7+ KB

## Saving new file 1

In [88]:
with open('C:\\Users\\NewHome32\\Desktop\\Scripts - Python\\My_Files\\248S_Clean.TXT', 'a') as f:
    dfAsString = dftest.to_string(header=False, index=False)
    f.write(dfAsString)
    f.close()

## Saving new file 2

In [89]:
with open('C:\\Users\\NewHome32\\Desktop\\Scripts - Python\\My_Files\\2410S_Clean.TXT', 'a') as f:
    dfAsString = dftest2.to_string(header=False, index=False)
    f.write(dfAsString)
    f.close()

## Saving new file 3

In [90]:
with open('C:\\Users\\NewHome32\\Desktop\\Scripts - Python\\My_Files\\2412S_Clean.TXT', 'a') as f:
    dfAsString = dftest3.to_string(header=False, index=False)
    f.write(dfAsString)
    f.close()

## Saving new file 4

In [91]:
with open('C:\\Users\\NewHome32\\Desktop\\Scripts - Python\\My_Files\\2416S_Clean.TXT', 'a') as f:
    dfAsString = dftest4.to_string(header=False, index=False)
    f.write(dfAsString)
    f.close()

## Saving merged file

In [92]:
with open('C:\\Users\\NewHome32\\Desktop\\Scripts - Python\\My_Files\\Merged_Clean.TXT', 'a') as f:
    dfAsString = dfcons.to_string(header=False, index=False)
    f.write(dfAsString)
    f.close()