In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt

In [47]:
import datetime

In [4]:
%matplotlib inline

In [5]:
df = pd.read_table('Merged_Clean.TXT', sep=r'\s+', names=['Invoice','Customer#','Invoice_Date','Quantity','UOM','List_Price','NET_Price','Total','COGS','Margin'], engine='python')

In [1]:
df.info()

NameError: name 'df' is not defined

In [7]:
print('Last year Dunbar Lumber sold {:.2f} to account type customers'.format(sum(df[(df['UOM'] == '248S') & (df['Customer#'] !='CASH')]['Total'])))

Last year Dunbar Lumber sold 57234.17 to account type customers

In [ ]:
sum(df[(df['UOM'] == '248S') & (df['Customer#'] =='CASH')]['Total'])

In [8]:
print('Last year Dunbar Lumber sold {:.2f} to account type customers'.format(sum(df[(df['UOM'] == '248S') & (df['Customer#'] !='CASH')]['Total'])))
print('Last year Dunbar Lumber sold {:.2f} to CASH type customers'.format(sum(df[(df['UOM'] == '248S') & (df['Customer#'] =='CASH')]['Total'])))

Last year Dunbar Lumber sold 57234.17 to account type customers
Last year Dunbar Lumber sold 32678.66 to CASH type customers

In [56]:
df['Invoice_Date'].

0      2022-01-04
1      2022-01-04
2      2022-01-05
3      2022-01-05
4      2022-01-05
          ...
2307   2022-11-21
2308   2022-11-21
2309   2022-11-21
2310   2022-12-08
2311   2022-12-14
Name: Invoice_Date, Length: 2312, dtype: datetime64[ns]

In [46]:
dates[0:]

0       2022-01-04
1       2022-01-04
2       2022-01-05
3       2022-01-05
4       2022-01-05
           ...
2307    2022-11-21
2308    2022-11-21
2309    2022-11-21
2310    2022-12-08
2311    2022-12-14
Name: Invoice_Date, Length: 2312, dtype: object

In [36]:
months = df['Invoice_Date']

In [53]:
months.datetime.month()

AttributeError: 'Series' object has no attribute 'datetime'

In [51]:
df['Invoice_Date'] = pd.to_datetime(df['Invoice_Date'])