In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt

In [4]:
%matplotlib inline

In [5]:
df = pd.read_table('Merged_Clean.TXT', sep=r'\s+', names=['Invoice','Customer#','Invoice_Date','Quantity','UOM','List_Price','NET_Price','Total','COGS','Margin'], engine='python')

In [6]:
df.head(2)

,Invoice,Customer#,Invoice_Date,Quantity,UOM,List_Price,NET_Price,Total,COGS,Margin
0,31514A,CASH,2022-01-04,4.0,248S,6.8,1275.0,27.2,16.53,39.2
1,31733A,1263,2022-01-04,12.0,248S,6.8,1275.0,81.6,49.60,39.2

In [7]:
print('Last year Dunbar Lumber sold {:.2f} to account type customers'.format(sum(df[(df['UOM'] == '248S') & (df['Customer#'] !='CASH')]['Total'])))

Last year Dunbar Lumber sold 57234.17 to account type customers

In [ ]:
sum(df[(df['UOM'] == '248S') & (df['Customer#'] =='CASH')]['Total'])

In [8]:
print('Last year Dunbar Lumber sold {:.2f} to account type customers'.format(sum(df[(df['UOM'] == '248S') & (df['Customer#'] !='CASH')]['Total'])))
print('Last year Dunbar Lumber sold {:.2f} to CASH type customers'.format(sum(df[(df['UOM'] == '248S') & (df['Customer#'] =='CASH')]['Total'])))

Last year Dunbar Lumber sold 57234.17 to account type customers
Last year Dunbar Lumber sold 32678.66 to CASH type customers

In [16]:
dates = df['Invoice_Date']